

body{
    margin: auto;
    font-family: 'Young Serif', serif;
    background-color: rgb(225, 236, 205);
}
.logo{
    display: flex;
}
.logo img {
   border-radius:60%;
   margin: 10px;
   display: block;
      
}

/* footer */
.footer-logo{
    display: flex;
}
.footer-logo p{
    text-align: center;
    margin-left: 10px;
}
.footer-logo img{
    border-radius:50%;
   margin-left: 10px;
}
.footer-base{
    text-align: center;
}
.logo h1{
   
   padding-left: 30%;
    color: black;

}
.social{
    margin-left: 10px;
}
/* navigation */
.menu-hide, .menu-show {
    display: none;
    background-color: rgb(210, 230, 173);
    border: 1px solid rgb(202, 218, 170);
    margin: .5rem 0 0 .5rem;
    border-radius: 5px;
}
.menu-hide.showing, .menu-show.showing{
    display: block;
}
#main-nav{
    display: none;
   }
#main-nav.showing{
    display: flex;
    gap: 10px;
    flex-direction:column;
}

nav ul {
    list-style-type: none;
    /* padding-inline-start: 0px; */
    flex-direction:row;
}
nav a:hover {
	border: 1px solid whitesmoke;
    color: beige;
}

nav ul li{
    list-style-type: none;
    /* display: block; */
    width: 20%;
}
nav ul li a{
    text-decoration: none;
    display: block;
    background-color: rgb(210, 230, 173);
    color: black;
    text-align: center;
    /* padding: 1rem; */
    font-size: 1.2rem;
}

/* hero image */
.top{
    position: relative;
}
.top img{
    height: 40vw;
    width: 90vw;
   
}
/* call to action */
.button-box{
    text-align: center;
    font-size: 18px;
    align-self: center;
    position:absolute;
    top: 60%;
    left: 250px;
    transform: translate(-50%, -50%);
}
.button-box h2{
    color: black;
    background-color: rgb(224, 87, 87);
}
.book{
    color: black;
    background-color: rgb(224, 87, 87);
    
}

/* main? */




.info img{
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid black;
} 
.info .infomsg{
    margin-left: 40px;
}
.description img{
    margin-top: 20px;
    margin-left: 20px;
    border: 5px solid black;
}
.description .msg{
    margin-top: 50px;
    margin-left: 40px;
}
.description .msg a{
 text-align: center;
}
/* wather */
#forecastSection{
    display: flex;
    justify-content: space-between;
    background-color: rgb(210, 230, 173);
} 
#current-weather{
    text-align: center;
    background-color: rgb(210, 230, 173);
}

/* ORDER PAGE */
#order-main {
    display: grid;
    grid-template: 200px auto / 1fr;
  }
  
  .order-sec {
    background-color: var(--light);
    overflow: hidden;
  }
  
  .order-sec:nth-child(1) {
    background-color: var(--shadow-orange);
  }
  
  .order-sec:nth-child(2) {
    margin: 1rem;
  }
  
  .order-sec h2 {
    padding: 1rem;
    text-align: center;
  }
  
  #order-fieldset {
    display: grid;
    justify-content: center;
    text-align: center;
    border: none;
  }
  
  .order-field {
    display: block;
    padding: 1rem;
  }
  
  .order-field input {
    text-align: right;
  }
  
  #instrctn-grp {
    display: grid;
  }
  
  #instructions {
    display: block;
    justify-self: center;
    width: 350px;
    height: 75px;
  }
  
  #sub-button {
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--teal);
    border: 1px solid var(--teal);
    font-family: "all-round-gothic", serif;
    font-size: large;
    color: var(--light);
  }
  
  #order-fieldset p {
    margin-top: -1.5rem;
    padding: 1rem;
  }
  
  #order-img {
    width: 100%;
  }