@media screen and (min-width: 70rem){
    
    #main-nav {
		display: flex;
        justify-content: space-evenly;
		flex-direction: row;
	}
	nav ul li {
		flex: 1 1 100%;
	}
	nav {
		width: 100%;
	}
	.menu-show,
    .menu-hide,
    .menu-show.showing,
    .menu-hide.showing {
        display: none;
    }
/* main? */
.description{
    display: flex;
    grid-template-columns: 1fr 2f;}

.description img{
    margin-top: 20px;
    margin-left: 20px;
    border: 5px solid black;
}
.description .msg{
    margin-top: 50px;
margin-left: 40px;
}
.info{
    display: flex;
}
.info img{
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid black;
} 
.info .infomsg{
    margin-left: 40px;
}


#forecastSection{
    display: flex;
    justify-content: space-between;
} 

}
.more{
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
}

.first  img{
    width: 70%;
   
    
    
    border: 5px solid black;
}
.second img{
    width: 70%;
    border: 5px solid black;
}
.third img{
    width: 70%;
    border: 5px solid black;
}
.first h2{
    text-align: center;
}
.second h2{
    text-align: center;
}
.third h2{
    text-align: center;
}

